<div class="posts border border-dark">
    {{#each posts}}
    <article class="card bg-light d-flex flex-row bg-dark">
        <div class="card-header justify-space-between border border-danger col-3 rounded-pill border-5 bg-light text-center">
            <h2>
                <a class="text-decoration-none text-danger p-1" href="/post/{{id}}">{{title}}</a>
            </h2>
            <div class=" text-dark text-center">
                Posted by {{User.username}} on {{format_date createdAt}}
            </div>
        </div>
        <div class="card-body bg-light text-dark border rounded-3 col-9">
            {{body}}
        </div>
    </article>
    {{/each}}
</div>